<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='css/main.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <hr>
    <hr>
    <hr>
    <form class="subscribe-form" action="/login" method="get">
      <input class="subscribe-form__submit" type="submit" value="Логин">
    </form>
    <form class="subscribe-form" action="/reg_page" method="get">
      <input class="subscribe-form__submit" type="submit" value="Регистрация">
    </form>
    <br>
    <br>
    <br>
    <hr>
    <hr>
    <hr>
    <form class="subscribe-form" action="/send_mail" method="post">
      <input class="subscribe-form__field" type="email" name="email" placeholder="Эл. почта">
      <input class="subscribe-form__submit" type="submit" value="SEND ME MAIL !!!">
    </form>
  </body>
</html>
