<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='css/main.css' />
</head>
<body>
<form class="subscribe-form" action="/login" method="post">
    <input class="subscribe-form__field" type="email" name="email" placeholder="Эл. почта">
    <input class="subscribe-form__field" type="text" name="pass" placeholder="Пароль">
    <input class="subscribe-form__check" type="checkbox" name="remember">
    <input class="subscribe-form__submit" type="submit" value="Логин">
</form>
<form class="subscribe-form" action="/login/google" method="get">
    <input class="subscribe-form__submit" type="submit" value="Login by google">
</form>
<form class="subscribe-form" action="/login/facebook" method="get">
    <input class="subscribe-form__submit" type="submit" value="Login by facebook">
</form>
</body>
</html>