<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='css/main.css' />
</head>
<body>
<form class="subscribe-form" action="/register" method="post">
    <input class="subscribe-form__field" type="email" name="email" placeholder="Эл. почта">
    <input class="subscribe-form__field" type="text" name="pass" placeholder="Пароль">
    <input class="subscribe-form__field" type="text" name="nick" placeholder="Ник-нейм">
    <input class="subscribe-form__submit" type="submit" value="Регистрация">
</form>
</body>
</html>